@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

body {
    font-family: 'Noto Serif', serif;
    margin: 0rem;
    background-color: #F0FDF4;
}

h1 {
    background-color: #14532d;
    color: white;
    padding: 1rem;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

.description {
    padding: 1rem;
    font-size: 1.3rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.description span {
    color: #14532d;
    font-weight: bold;
    text-decoration: underline;
}

label {
    margin: 1rem;
    padding: 0.2rem;
    font-size: 1.3rem;
    border: 0.2rem solid #14532d;
    background-color: #DCFCE7;
}

#next-button , #calculate-button{
    padding: 0.2rem;
    font-size: 1rem;
    margin: 0rem 1rem 1rem 1rem;
    font-family: 'Noto Serif', serif;
    background-color: #16A34A;
    border: 1px solid #4ADE80;
    cursor: pointer;
}

#next-button:hover , #calculate-button:hover{
    background-color: #4ADE80;
}

input {
    display: block;
    padding: 0.5rem;
    margin: 1rem;
    font-size: 1.2rem;
}

table {
    caption-side: bottom;
    padding: 0rem 1rem 1rem 1rem;
}

th, td {
    border: 2px solid #14532d;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-align: right;
    background-color: #DCFCE7;
}

caption {
    font-size: 1.3rem;
    font-weight: bold;
}

#message {
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: bolder;
}

.pay-online {
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 1rem;
    padding: 0.5rem;
}

.recipt {
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    background-color: #86EFAC;
}

.tenor-gif-embed{
    position:absolute; 
    width:100%; 
    height:100%
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.qrc {
    padding: 1rem;
    width: 40%;
}